// 해당 파일에는 변수와 mixin 만 추가 되어야함

$desktop-width: 1100px;
$inquiry-content-width: 578px;
$minimum-padding: 20px;
$minimum-width: calc(100% - 2 * $minimum-padding);

$main-image-z-index: 1;
$main-overlay-z-index: 2;
$main-content-z-index: 3;
$modal-overlay-z-index: 100;

@mixin fix-center {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

@mixin ul-bullet {
  list-style-type: none;
  text-indent: 7px;
  &::before {
    content: '•';
    padding-right: 7px;
  }
}
