@mixin fix-center {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
  //...
}
/* stylus-based screens */
@media (hover: none) and (pointer: fine) {
  //...
}
/* Nintendo Wii controller, Microsoft Kinect */
@media (hover: hover) and (pointer: coarse) {
  //...
}
/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
  //...
}
