@import '@styles/variable.scss';

.test1 {
  background-color: $white;
}

.body {
  min-height: 100dvh;
}

.footer {
  //
}

.contentSection {
  min-height: 100dvh;
}

.fixedBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.floatingButton {
  margin: 0 $min-gap $min-gap auto;
}
