@import '@styles/variable.scss';

.test1 {
  background-color: $white;
}

.body {
  min-height: 100dvh;
}

.footer {
  background-color: $white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
