@import '@styles/variable';

.header {
  padding: $minimum-padding;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.headerContent {
  width: $desktop-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
}
