@import '@styles/variable';

.SiteMap {
  border-top: 1px solid #dde1e8;
  min-height: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContent {
  max-width: $desktop-width;
  padding: $min-gap 0;
}
